@font-face {
  font-family: "modular14";
  src: url(/fonts/MODULAR-14.otf);
}

* {
  font-family: "modular14";
}

body {
  background-color: rgb(59, 184, 255, 0.2);
}


h1 {
	position: relative;
  text-align: center;
	color: rgb(59, 184, 255, 0.5);
  font-size: 100px;
  text-shadow: 5px 5px rgb(255, 0, 180, 0.5);
  margin-bottom: 15px
}

li {
  list-style-type: none;
  flex-grow: 1
}

a {
  text-decoration: none;
  color: rgb(255, 0, 180);
  font-size: 30px
}

a:hover {
  color: rgb(59, 184, 255);
}

ul {
  display: flex;
  flex-direction: row;
}

img {
  width: 100%
}

div:hover {
  background-color: white 0.5
}

#aboutpicture {
  width: 40%;
  padding-top: 30px
}

p {
  color: navy;
  padding-top: 30px
}

.container {
  display: flex
}

div {
  justify-content: center
}

.currentpage {
  color: rgb(59, 184, 255);
}

h2 {
  font-size: 40px;
  text-align: center;
  color: darkblue
}

.socials {
  text-decoration: none;
  text-align: center;
}

#socials {
  border: 1.5px solid rgb(59, 184, 255);
  padding-bottom: 20px;
  margin: 10px
}

.slinks {
  color: rgb(59, 184, 255);
  
}

#socials:hover {
  background-color: white
}