@font-face {
  font-family: "modular14";
  src: url(/Users/juliachang/Desktop/personalsite/fonts/MODULAR-14.otf);
}

* {
  font-family: "modular14";
}


h1 {
	position: relative;
  text-align: center;
	color: rgb(59, 184, 255, 0.5);
  font-size: 100px;
  text-shadow: 5px 5px rgb(255, 0, 180, 0.5)
}
